<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <servlet>
    <display-name>Uploads</display-name>
    <servlet-name>Uploads</servlet-name>
    <servlet-class>Uploads</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JarTest</servlet-name>
    <servlet-class>JarTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploads</servlet-name>
    <url-pattern>/uploads</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JarTest</servlet-name>
    <url-pattern>/jartest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KalamParseGenServlet</servlet-name>
    <servlet-class>kalam.KalamParseGenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KalamParseGenServlet</servlet-name>
    <url-pattern>/kalam</url-pattern>
  </servlet-mapping>
</web-app>